section#services{
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 2rem 2rem;
    
    

}

div.service{
    background-color: $secondary-color;
    padding: 4rem;
    margin: 0 2rem 4rem;
    flex-grow: 1;
    flex-basis: 40rem;
    border-bottom: 0.2rem solid $secondary-color;
    border-right: 0.2rem solid $secondary-color;
    border-left: 0.2rem solid $secondary-color;
    position: relative;
    z-index: 1;
}


div.service::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $primary-color;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
    z-index: -1;
   
}

div.service:hover::after,
div.service:active::after{
    transform: scaleX(1);
}

.service i,
.service .services--title{
    margin-bottom: 2rem ;
}


.service i{
    font-size: 3rem;
    color: white;
}

.services--title{
    font-size: 3rem;
    text-transform: uppercase;
}

.services--para{
    font-family: cursive;
    font-size: 2rem;
    color: white;
}