aside#side-nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

div.side-nav__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $primary-color;
}

div.side-nav__content--logo img{
   width: calc(3vw + 3vh); 

   object-fit: cover;
}

ul.side-nav__content--social{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

ul.side-nav__content--social a i{
    font-size: calc(1rem + 0.66667vw);
    color: white;
    padding-bottom: calc(2rem + 0.66667vw);

    transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active{
    color: $secondary-color;
}