$primary-color: #014d4e;

/*Secondary color*/
$secondary-color: #a20101;

/*Secondary color modified*/
$secondary-color-modified: #ff94088e;

/*Terciary color*/
$tertiary-color: #2b807d;

/*Terciary color modified*/
$tertiary-color-modified: #01727498;