$primary-color: #014d4e;

/*Secondary color*/
$secondary-color: #ee7716;

/*Secondary color modified*/
$secondary-color-modified: #ff94088e;

/*Terciary color*/
$tertiary-color: #017374;

/*Terciary color modified*/
$tertiary-color-modified: #01727498;